* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.container {
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 60px 100px 15px 100px;
  max-width: 900px;
  z-index: 1;
  background-color: white;
}

.navlink {
  margin-left: 60px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #050215;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navlink:hover {
  color: #B4977B;
}

.active {
  color: #B4977B;
}

.left-menu {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  border-right: 2px solid #E5E5E5;
  z-index: 1;
}
.left-menu .logotype {
  margin-top: 60px;
  text-align: center;
}
.left-menu .logotype .logo {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #050215;
  text-decoration: none;
}
.left-menu .progress {
  margin-top: 250px;
}
.left-menu .progress .number {
  text-align: center;
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
  color: #B4977B;
}
.left-menu .progress .line-progress {
  position: relative;
  width: 4px;
  height: 200px;
  background: #E5E5E5;
  border-radius: 2px;
  margin: 15px auto;
}
.left-menu .progress .line-progress-now {
  position: absolute;
  top: 0;
  width: 4px;
  height: 42px;
  background: #B4977B;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.left-menu .downbtn {
  border: 2px solid #B4977B;
  border-radius: 50px;
  padding: 25px;
  cursor: pointer;
  margin-top: 180px;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.left-menu .downbtn:hover {
  background-color: #f1d7bf;
}

.social-links {
  position: fixed;
  bottom: 0;
  padding: 15px 60px 100px 100px;
  margin-top: auto;
  margin-left: 440px;
  background-color: white;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-number {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 80%;
  font-weight: 600;
  font-size: 200px;
  line-height: 240px;
  color: transparent;
  -webkit-text-stroke: 2px #B4977B;
}

.image-block {
  position: relative;
  margin-left: 450px;
  width: 520px;
  height: 800px;
  background: url("../imgs/blog-atmosfera-barbershopa-3 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.image-block .blur-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
.image-block:hover {
  width: 620px;
  height: 900px;
}

.content {
  position: relative;
  width: 650px;
  margin: 150px 150px 0px 100px;
}
.content .content-h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #050215;
  max-width: 550px;
}
.content .content-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(5, 2, 21, 0.75);
  margin-top: 40px;
}
.content .content-button {
  background: #B4977B;
  border-radius: 50px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 179.5%;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
}
.content .content-button:hover {
  font-weight: 700;
  font-size: 30px;
  line-height: 179.5%;
  color: #FFFFFF;
}

.screens {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.screens > .screen {
  width: 100vw;
  height: 100vh;
  repeat: no-repeat;
  size: cover;
  position: center center;
}

.up {
  margin-top: -100vh;
}