@import "variabels"
@import "mixins"

*
	box-sizing: border-box
	padding: 0
	margin: 0

body
	font-family: 'Barlow', sans-serif
	font-style: normal

.container
	position: relative
	overflow: auto
	width: 100vw
	height: 100vh

.navbar
	position: fixed
	top: 0
	right: 0
	padding: 60px 100px 15px 100px
	max-width: 900px
	z-index: 1
	background-color: white

.navlink
	margin-left: 60px
	text-decoration: none
	@include font(400, 18px, 22px, #050215)
	transition: 0.3s

	&:hover
		color: $primary-color

.active
	color: $primary-color

.left-menu
	text-align: center
	position: fixed
	top: 0
	left: 0
	width: 300px
	height: 100vh
	border-right: 2px solid #E5E5E5
	z-index: 1

	.logotype
		margin-top: 60px
		text-align: center

		.logo
			@include font(500, 30px, 36px, #050215)
			text-decoration: none

	.progress
		margin-top: 250px

		.number
			text-align: center
			@include font(500, 54px, 65px, $primary-color)

		.line-progress
			position: relative
			@include size(4px, 200px)
			background: #E5E5E5
			border-radius: 2px
			margin: 15px auto

		.line-progress-now
			position: absolute
			top: 0
			@include size(4px, 42px)
			background: $primary-color
			border-radius: 2px
			transition: transform 0.5s ease-in-out

	.downbtn
		border: 2px solid $primary-color
		border-radius: 50px
		padding: 25px
		cursor: pointer
		margin-top: 180px
		background: transparent
		transition: $primary-transition

		&:hover
			background-color: #f1d7bf

.social-links
	position: fixed
	bottom: 0
	padding: 15px 60px 100px 100px
	margin-top: auto
	margin-left: 440px
	background-color: white

.data
	display: flex

.list-number
	width: min-content
	height: min-content
	margin-left: 80%
	// margin-top: 80%
	@include font(600, 200px, 240px, transparent)
	-webkit-text-stroke: 2px $primary-color

.image-block
	position: relative
	margin-left: 450px
	@include size(520px, 800px)
	background: url('../imgs/blog-atmosfera-barbershopa-3\ 1.png')
	background-repeat: no-repeat
	background-size: cover
	transition: $primary-transition

	.blur-content
		position: absolute
		bottom: 0
		width: 100%
		padding: 40px 100px
		text-align: center
		background: rgba(255, 255, 255, 0.3)
		backdrop-filter: blur(20px)
		@include font(500, 28px, 34px, #FFFFFF)

	&:hover
		@include size(620px, 900px)

.content
	position: relative
	width: 650px
	margin: 150px 150px 0px 100px

	.content-h1
		@include font(600, 64px, 77px, #050215)
		max-width: 550px

	.content-description
		@include font(400, 18px, 32px, rgba(5, 2, 21, 0.75))
		margin-top: 40px

	.content-button
		background: $primary-color
		border-radius: 50px
		border: none
		padding: 15px 30px
		cursor: pointer
		@include font(500, 18px, 179.5%, #FFFFFF)
		transition: $primary-transition
		margin-top: 40px

		&:hover
			@include font(700, 30px, 179.5%, #FFFFFF)

.screens
	position: absolute
	top: 0
	height: 100vh
	width: 100vw
	z-index: 0
	transition: transform 0.5s ease-in-out

.screens > .screen
	@include size (100vw , 100vh)
	repeat: no-repeat
	size: cover
	position: center center

.up
	margin-top: -100vh
